#textPanel{
    width: 1100px;
    margin: 0 0 30px 0;
    padding-bottom: 50px;
    min-height: 600px;
    border-image: -webkit-linear-gradient(90deg,white,hsl(0,0%,70%),white) 30 30;
    border-image: -o-linear-gradient(90deg,white,hsl(0,0%,70%),white) 30 30;
    border-image: -moz-linear-gradient(90deg,white,hsl(0,0%,70%),white) 30 30;
    border-image: linear-gradient(90deg,white,hsl(0,0%,70%),white)30 30;
    border-bottom: solid 2px;
}
#articleTitlePic{
    width: 1096px;
    height: 400px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0px 2px;
    position: relative;
}
#articleTitlePic forkBut{
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 66px;
    margin-top: 314px;
    z-index: 10;
    border: 2px solid hsl(0,0%,100%);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    opacity: 0.5;
}
#articleTitlePic forkBut:focus,
#articleTitlePic forkBut:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px black;
}
#articleTitlePic forkBut forkIco{
    height: 20px;
    width: 20px;
    background-image: url("../pics/blogDemoPage/forkIco.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
}
#articleTitlePic a1{
    display: block;
    font-family: "lucida grande";
    text-shadow: 1px 1px 6px black;
    font-size: 45px;
    height: 58px;
    position: absolute;
    margin-left: 0px;
    margin-top: 287px;
    color: hsla(0,0%,100%,1);
    font-weight: bold;
    padding: 0px 100px;
}
#articleTitlePic a2{
    display: block;
    font-family: "lucida grande";
    text-shadow: 1px 1px 6px black;
    font-size: 20px;
    height: 27px;
    position: absolute;
    margin-left: 0px;
    margin-top: 350px;
    color: hsla(0,0%,100%,1);
    padding: 0px 100px;
    overflow: hidden;
}
#articleTitlePicMask{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background-size: 100% 100px;
}
#articleAuthorPanel{
    height: 60px;
    width: 100%;
}
#articleAuthorPanel a1{
    float: right;
    margin-top: 5px;
    margin-right: 110px;
    font-size: 15px;
    color: grey;
}
#articleAuthorPanel a2{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: grey;
}
#articleAuthorPanel a3{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: grey;
}
#articleTextPanel{
    margin: 40px 100px 0px 100px;
}

